@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  min-height: 100vh;
  background-color: #F7F7FA;
}

html.dark body, html.dark #root, html.dark {
  background-color: #05060A;
}